<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="///ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="///maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="///maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Oldskool" href="/opensearch.xml" />
    <title><%= params[:q] == nil ? "" : "#{h(params[:q])} - " %>Oldskool</title>
  </head>
  <body style="padding-top: 80px;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Oldskool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <% if @topmenu %>
          <ul class="nav navbar-nav navbar-left">
            <% @topmenu.each do |item| %>
              <li><a href="<%= item[:url] %>"><%= item[:title] %></a></li>
            <% end %>
          </ul>
        <% end %>
          <form action="/do" method="get" class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" name="q" autofocus="autofocus" placeholder="#">
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <% if @sidemenu %>
            <% @sidemenu.each do |item| %>
              <p><a href="<%= item[:url] %>"><button type="button" class="btn btn-primary"><%= item[:title] %></button></a></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-10">
          <% if @error %>
            <div class="alert-message error">
              <%= @error %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
